#content_texto {
   position:relative;
   width:253px;
   height:330px;
   z-index:9;
   left: -2px;
   top: 4px;
   overflow: hidden; /* Detalle muy importante */
   text-align:justify;
   background:blue;
}
#flecha1 {
   position:absolute;
   width:15px;
   height:15px;
   z-index:1;
   left: 234px;
   top: 21px;
   background:red;
}
#flecha2 {
   position:absolute;
   width:15px;
   height:15px;
   z-index:1;
   left: 234px;
   top: 308px;
   background:red;
}
#texto {
   font-size:20px;
   position:absolute;
   width:230px;
   z-index:8;
   left: 0px;
   top: 0px;
   background:lightgrey;
}